root = true
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[{BUILD.bazel,WORKSPACE,*.bzl}]
# buildifier uses this format
indent_size = 4

[package.json]
# yarn/npm use 4 spaces
indent_size = 4
