.SomeComponent.test {
    color: var(--myColor_e0bb19ac5d1bfd26);
}

.OtherComponent.test {
  color: var(--myColor_e0bb19ac5d1bfd26);
}

:export {
    __CCM_METADATA_EXPORT__: eyJTb21lQ29tcG9uZW50Ijp7Im1vZGlmaWVycyI6WyJ0ZXN0Il0sInByb3BlcnRpZXMiOlsiLS1teUNvbG9yIl19LCJPdGhlckNvbXBvbmVudCI6eyJtb2RpZmllcnMiOlsidGVzdCJdLCJwcm9wZXJ0aWVzIjpbIi0tbXlDb2xvciJdfX0=;
    --myColor: --myColor_e0bb19ac5d1bfd26;
}
